@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-primary-1: #201e1e;
    --color-primary-2: #f50009a1;
    --color-primary-3: #EB1C24;
    --color-primary-4: #DFDFDF;
    --color-primary-5: #ebdc13;
    --color-primary-6: #363636;
    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
    --new-black: #000;
    --warning-light: #ff9900;
    --danger-light: #ff3737;
}

/* Estilo do corpo da página */
body {
    color: var(--new-black);
    background-image: url('../images/corinthians/festaTorcida.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    flex-direction: column;
    color: var(--color-primary-4); 
    width: 100%;
    overflow: hidden;
}

button {
    font-family:  "Poppins", sans-serif;;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
}

#btnIniciarQuiz {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--color-primary-2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnIniciarQuiz:hover {
    background-color: var(--color-primary-3);
}

/* Layout flexível para alinhamento */
.flex-colunar {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--color-neutral-0);
    background-color: var(--color-primary-1);
}

.text-warning-with-bg {
    color: var(--color-neutral-0);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--color-neutral-0);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--color-neutral-0);
}
.title{
    font-size: 25px;
    font-weight:bolder;
}
.red{
    color: var(--color-primary-2);
}

/* Estilo da pontuação e jogo */
#pontuacaoEJogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#pontuacao {
    display: none;
    margin-bottom: 20px;
    width: 95%;
}

#jogo {
    display: none;
    margin-top: 20px;
    width: 95%;
}

#pontuacao, #jogo {
    max-width: 600px;
    padding: 20px;
    background-color: var(--color-neutral-1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
#opcoes {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

#opcoes span {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

#opcoes input[type="radio"] {
    display: none;
}

#opcoes label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 18px;
    color: var(--color-primary-4);
    transition: color 0.3s ease, transform 0.2s ease;
}

#opcoes label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-primary-2);
    border-radius: 50%;
    background-color: var(--color-neutral-0);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#opcoes input[type="radio"]:checked + label::before {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#opcoes label:hover::before {
    border-color: var(--color-primary-3);
    transform: translateY(-50%) scale(1.1);
}

#opcoes input[type="radio"]:focus + label::before {
    border-color: var(--color-primary-5);
    box-shadow: 0 0 0 2px rgba(255, 100, 100, 0.4);
}

#opcoes label {
    font-size: 16px;
    color: var(--color-primary-4);
    transition: color 0.3s;
}

#opcoes input[type="radio"]:checked + label {
    color: var(--color-primary-2);
}

#opcoes label:hover {
    color: var(--color-primary-3);
    transform: translateY(-2px);
}


#botoes button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--color-primary-2);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botoes button:disabled {
    background-color: var(--color-primary-2);
    cursor: not-allowed;
}

#botoes button:hover:not(:disabled) {
    background-color: var(--color-neutral-0);
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    #pontuacao, #jogo {
        width: 100%;
        max-width: none;
    }
    #btnIniciarQuiz {
        width: 100%;
    }
}
